<div class="fondo flex items-center justify-center min-h-screen">
  <div class="container relative w-[80vw] h-[80vh] bg-white rounded-[15px] overflow-hidden" #container>
    <div class="signin-signup  absolute top-0 left-0 w-full h-full flex items-center justify-around z-[5]">
      
      <form action="" (ngSubmit)="datosInicioSesion()" class="sign-in-form flex items-center justify-center flex-col w-[40%] min-w-[238px] py-0 px-2.5">
        <h2 class="title">Iniciar sesión</h2>
        <!-- imput para el correo -->
        <div class="input-field">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Correo" [(ngModel)]="email" name="email" />
        </div>
        <!-- imput para la contraseña -->
        <div class="input-field">
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password"/>
        </div>
        <input type="submit" value="Acceder" class="btn"  />
        <p class="social-text">O inicia sesión mediante</p>
        <div class="social-media">
          <a href="" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <p class="account-text"> ¿No tienes una cuenta? <a href="#" id="sign-up-btn-2" #signUpBtn2>Únete</a></p>
      </form>

      <form action="" (ngSubmit)="datosCrearSesion()" class="sign-up-form flex items-center justify-center flex-col w-[40%] min-w-[238px] py-0 px-2.5">
        <h2 class="title">Únete</h2>
        <!-- imput para el nombre -->
        <div class="input-field">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Nombre" [(ngModel)]="name" name = 'name' />
        </div>
        <!-- imput para la edad -->
        <div class="input-field">
          <i class="fa fa-pager"></i>
          <input type="number" placeholder="Edad" [(ngModel)]="age" name="age"/>
        </div>
        <!-- imput para la provincia -->
        <div class="input-field province">
          <i class="fa fa-map-marker"></i> 
          <select [(ngModel)]="selectedProvince" name="province">
            <option value="" disabled selected class="placeholder">Selecciona una provincia</option>
            <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
          </select>
        </div>
       <!-- imput para el correo -->
        <div class="input-field">
          <i class="fa fa-envelope"></i>
          <input type="text" placeholder="Correo" [(ngModel)]="email" name="email"/>
        </div>
        <!-- imput para la contraseña -->
        <div class="input-field">
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" />
        </div>
        
        <input type="submit" value="Registrarse" class="btn" />
        
        <p class="social-text">O únete mediante</p>
        <div class="social-media">
          <a href="" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <p class="account-text"> ¿Ya tienes una cuenta? <a href="#" id="sign-in-btn-2" #signInBtn2>Inicia sesión</a></p>
      </form>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Votaciones en línea</h3>
          <p>
            Inicia sesión para participar en las encuestas y votaciones que definen el futuro.
          </p>
          <button class="btn" id="sign-in-btn" #signInBtn>Inicia sesión</button>
        </div>
        <img src="/assets/logos/login/sign-up.svg"  class="image">
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Votaciones en línea</h3>
          <p>
            Únete a nuestra plataforma para expresar tu opinión y contribuir a decisiones importantes.
          </p>
          <button class="btn" id="sign-up-btn" #signUpBtn>Únete</button>
        </div>
        <img src="/assets/logos/login/sign-in.svg" class="image" />
      </div>
    </div>
  </div>
  
</div>
