$primaty_color:#127d6b;
$text_color: white;
$bg_color: #f0fbfb;

$primary_color:#1995AD;
$color-btn-fondo: #126B7D;
$color-fondo-obscuro: #0A3D47;

$color-fondo: #F0F8FF;
$color-cancelar: rgb(213, 133, 133);
$color-cancelar-obscuro: rgb(195, 45, 45);