$primary_color:#1995AD;
$color-btn-fondo: #126B7D;
$color-fondo-obscuro: #0A3D47;

$color-fondo: #F0F8FF;






/* $primary_color:#1995AD;
$color-btn-fondo: #126B7D;
$color-fondo-obscuro: #0A3D47; */

/* $primary_color:#20948B;
$color-btn-fondo: #16645E;
$color-fondo-obscuro: #07211F; */






/* #df4adf */

$second-color:#df4adf ;
$tercer-color: #c03cc0;
$cuarto-color:#520852;