<div class="">
  <div class="d-flex justify-center p-4">
    <p class="titulo-principal">
      Intención de voto - Presidente Ecuador 2025-2029
    </p>
  </div>
  <div
    class="flex sm:flex-row flex-col justify-center items-center sm:justify-around sm:m-[2%]"
  >
    <div class="justify-center">
      <div class="div-card">
        <h1>TOTAL VOTOS</h1>
        <p class="text-2xl">
          <b>{{ total }}</b>
        </p>
      </div>
      <br />
      <div class="div-card">
        <h1>Expresa tu intensión</h1>
        <br />
        <button
          pButton
          label=" 🗳️ Votar"
          class="btn"
          aria-label="Votar"
          (click)="showDialog()"
        ></button>
      </div>
    </div>
    <div class="justify-center div-card">
      <h1>Filtros</h1>
      <p-divider align="center" type="solid">
        <b>Provincias</b>
      </p-divider>
      <p-dropdown
        [styleClass]="'mt-4'"
        [style]="{ width: '283px' }"
        [options]="cities"
        [(ngModel)]="selectedProvince"
        optionLabel="name"
        placeholder="Seleccione provincia"
        (onChange)="filtro($event)"
      />

      <p-divider align="center" type="solid">
        <b>Candidatos</b>
      </p-divider>
      <p-dropdown
        [styleClass]="'mt-4'"
        [style]="{ width: '283px' }"
        [options]="candidatos"
        [(ngModel)]="selectedCandidate"
        optionLabel="name"
        placeholder="Seleccione candidato"
        (onChange)="filtro($event)"
      />
    </div>
    <div class="justify-center">
      <div class="div-card-g">
        <h1>Distribución de votos</h1>
        <br />
        <p-chart type="doughnut" [data]="data" />
      </div>
    </div>
  </div>
  <div class="p-10 justify-center">
    <h1 style="border-radius: 15px 15px 0 0">
      Intensiones de voto - Fecha de corte:
      {{ fechaActual | date : "dd/MM/yyyy" }}
    </h1>
    <h1 *ngIf="selectedCandidate!">{{ selectedCandidate!.name }}</h1>
    <h1 *ngIf="selectedProvince!">{{ selectedProvince!.name }}</h1>
    <p-chart type="bar" [data]="basicData" [options]="options_bar" />
  </div>
</div>

<p-sidebar
  [(visible)]="votingSideBar"
  [fullScreen]="true"
  [baseZIndex]="100"
  styleClass="px-0"
>
  <ng-template pTemplate="header">
    <p class="titulo-principal">Elije un candidato</p>
  </ng-template>
  <!-- <app-voting-screen /> -->

  <p-table
    [value]="candidateData!"
    [columns]="columns"
    *ngIf="recargar"
    selectionMode="single"
    [(selection)]="candidateRowSelection"
    (onRowSelect)="onRowSelectCandidate($event)"
    (onRowUnselect)="onRowUnselectCandidate($event)"
    [scrollable]="true"
    scrollHeight="500px"
  >
    <!--Header-->
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let columna of columns" class="cabecera">
          {{ columna.header }}
        </th>
      </tr>
    </ng-template>
    <!--CUERPO DE LA TABLA-->
    <ng-template pTemplate="body" let-dataCandidate>
      <tr [pSelectableRow]="dataCandidate">
        <td *ngFor="let col of columns">
          <span class="p-column-title">{{ col.header }}</span>
          <div [ngSwitch]="col.field">
            <img
              *ngSwitchCase="'image'"
              src="{{ dataCandidate[col.field] }}"
              alt="candidate"
              class="w-14 h-14 sm:w-28 sm:h-28"
            />
            <span *ngSwitchDefault>
              {{ dataCandidate[col.field] }}
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-sidebar>

<!-- Side Message -->
<p-toast />
<!-- Confirmation window -->
<p-confirmDialog
  [style]="{ width: '300px' }"
  [baseZIndex]="20"
  [closable]="false"
  #cd
>
  <p-footer>
    <button
      pButton
      icon="pi pi-check"
      label="Votar"
      class="btn text-center"
      aria-label="Votar"

      (click)="cd.accept()"
    ></button>

    <button
      pButton
      icon="pi pi-times"
      label="Cancelar"
      class="boton_no text-center"
      aria-label="Cancelar"

      (click)="cd.reject()"
    ></button>
  </p-footer>
</p-confirmDialog>

<!-- Data recolection -->
<p-dialog
  header="Registro del voto"
  [modal]="true"
  closable="false"
  [(visible)]="visibleRecord"
  [baseZIndex]="1000"
  [style]="{ width: '24rem', height: '32rem', }"
>
  <ng-template pTemplate="content">
    <div class="mb-4">
      <form [formGroup]="formRegister">
        <div class="mb-3">
          <label>Correo <small class="text-red-600 ml-1">*</small></label>
          <div class="p-input-filled pt-2">
            <input
              pInputText
              class="w-[21rem]"
              type="text"
              formControlName="correo"
              placeholder="Introduce una contraseña"
            />
            <div
              *ngIf="
                formRegister.get('correo')?.touched &&
                formRegister.get('correo')?.invalid
              "
              class="text-red-600"
            >
              <small *ngIf="formRegister.get('correo')?.errors?.['required']"
                >Correo es requerido.</small
              >
              <small *ngIf="formRegister.get('correo')?.errors?.['email']"
                >Correo no es válido.</small
              >
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class=""
            >Provincia<small class="text-red-600 ml-1">*</small></label
          >
          <div class="p-input-filled pt-2">
            <p-dropdown
              [style]="{ width: '21rem' }"
              [options]="cities"
              optionLabel="name"
              placeholder="Seleccione una provincia"
              (onChange)="onProvinciaChange($event)"
            >
            </p-dropdown>
            <div
              *ngIf="
                formRegister.get('provincia')?.touched &&
                formRegister.get('provincia')?.invalid
              "
              class="text-red-600"
            >
              <small *ngIf="formRegister.get('provincia')?.errors?.['required']"
                >Provincia es requerida.</small
              >
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="">Edad<small class="text-red-600 ml-1">*</small></label>
          <div class="p-input-filled pt-2">
            <p-inputNumber
              [style]="{ width: '21rem' }"
              [min]="0"
              [max]="120"
              formControlName="edad"
              [mode]="'decimal'"
              [step]="1"
              [useGrouping]="false"
            ></p-inputNumber>
            <div
              *ngIf="
                formRegister.get('edad')?.touched &&
                formRegister.get('edad')?.invalid
              "
              class="text-red-600"
            >
              <small *ngIf="formRegister.get('edad')?.errors?.['required']"
                >Edad es requerida.</small
              >
              <small *ngIf="formRegister.get('edad')?.errors?.['min']"
                >Edad debe ser al menos 0.</small
              >
              <small *ngIf="formRegister.get('edad')?.errors?.['max']"
                >Edad no puede ser mayor a 120.</small
              >
            </div>
          </div>
        </div>
      </form>
      <footer class="flex justify-center pt-7">
        <button
          pButton
          pRipple
          [label]="'Guardar'"
          (click)="guardarVoto()"
          aria-label="Guardar"

          class="btn"
        ></button>
        <button
          pButton
          pRipple
          [label]="'Cancelar'"
          severity="danger"
          (click)="CancelarVoto()"
          aria-label="Cancelar"

          class="boton_no"
        ></button>
      </footer>
    </div>
  </ng-template>
</p-dialog>
