@import '../../../../../styles/variables.scss';

h1 {
    background: black;
    color: white;
    text-align: center;
    font-size: large;
    padding: 4px;
}

.div-card {
    width: 250px;
    text-align: center;
}