
<div class="card">
    <div class="flex sm:flex-row flex-col justify-around sm:m-[2%]">
        <div class="div-card">
            <h1>PRESIDENTE</h1>
            <p-dropdown
                [styleClass]="'mt-4'"
                [style]="{'width':'230px'}"
                [options]="cities" 
                [(ngModel)]="selectedProvince" 
                optionLabel="name" 
                placeholder="Selecione provincia" />
        </div>
        <div class="div-card">
            <h1>TOTAL VOTOS</h1>
            <p class="text-2xl mt-4">10000</p>
        </div>
        <div class="div-card">
            <p-chart type="doughnut" [data]="data"  />
        </div>
    </div>
    <div class="m-20 justify-center">
        <h1>Intensiones de voto</h1>
        <h2>Fecha de corte: </h2>
        <p-chart type="bar" [data]="basicData" />
    </div>
    
</div>